:root {
  // Padding
  --tiny-padding: 5px;
  --medium-padding: 10px;
  --big-padding: 15px;
  --huge-padding: 20px;

  // Margin
  --tiny-margin: 5px;
  --medium-margin: 10px;
  --big-margin: 15px;
  --huge-margin: 20px;

  // Text
  --text-color: #020202;
  --white-color: #fff;

  // Border radius
  --tiny-border-radius: 4px;
  --medium-border-radius: 8px;
  --big-border-radius: 12px;
  --huge-border-radius: 50%;

  // Color
  --primary-color: #087ea4;
}

@font-face {
  font-family: 'Roboto';
  src: url('../../assets/Roboto-Light.ttf');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../../assets/Roboto-Medium.ttf');
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

*,
::after,
::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Roboto, sans-serif;
  font-weight: 400;
}

.container {
  max-width: 1200px;
  width: 100%;
  padding: 0 var(--medium-padding);
  margin: 0 auto;
}